Source: sbctl
Section: system
Priority: optional
Maintainer: sever0815 <sergeilemonow@protonmail.com>
Build-Depends: debhelper (>=10)
Homepage: https://github.com/foxboron/sbctl
Package: sbctl
Version: 0.18
Architecture: amd64
Description: sbctl intends to be a user-friendly secure boot key manager capable of setting up secure boot, offer key management capabilities, and keep track of files that needs to be signed in the boot chain.
