Source: translator-gtk
Section: unknown
Priority: optional
Maintainer: sever0815 <sergeilemonow@protonmail.com>
Build-Depends: debhelper (>=10)
Homepage: https://github.com/wioletowa/Translator-gtk
Package: translator-gtk
Version: 1-beta
Architecture: amd64
Description: A small GTK4 translator written in Rust, powered by Google Translate.
